#Deals{
    height: 60vh;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.eD7MpRmuCp5oKFlcdoKmuwHaE8&pid=Api&P=0");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
};
#Offers{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
#gridPage{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    
}
#gridPage img{
    width: 80%;
}



  #signINDIV{
    background-color: red;
  }

